th {
  width: 150px;
  height: 7rem;
  text-align: right;
  padding-right: 10px;
}
.inquiry {
  width: 480px;
}
.botton {
  background-color: #4bdecf;
  color: white;
  padding: 6px 6px;
}
.botton:hover {
  opacity: 0.5;
}
.hoge {
  text-align: center;
}
